.progressBar {
  height: 0.5rem;
  width: 100%;
  background-color: hsl(var(--muted));
  border-radius: 9999px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background-color: hsl(var(--primary));
  transition: width 500ms;
  width: var(--tw-progress-width, 0);
}


